<head>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/aboutus">About Us</a>
  <a href="/users">Users</a>
</div>
<h1>{{title}}</h1>

</head>
<body>
<h1>About us</h1>       
        <p>Welcome to LegalDocs!</br>
          LegalDocs is India's fastest growing Legal Documents Portal. LegalDocs makes Legal Documents Easy, Secure and Valid. Using India Stack infrastructure, LegalDocs is creating state of art experience of Digit India for Citizens of India. With LegalDocs one can create, validate and receive valid legal documents without even stepping out of the home. It is as simple as ordering from eCommerce website.</p>
          <p>
          We understand the difficulty and complexity Indian citizens have to face while getting legal document. We have made the process very easy and simplified. 
          </p>
          <p>
          With technology and legal experties we have made validation and verification remotely. We are getting legal sector to new level moving forward to Digital India.
          </p>
          <p>
            Happy Documenting, and get in touch with us to let us know how else we can help!
          </p>

</body>