<!DOCTYPE html>
<html>
<head>
	
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/aboutus">About Us</a>
  <a href="/users">Users</a>
</div>
<h1>{{title}}</h1>
</head>
<body>
	<p>Welcome to contact page</p>
	<p>This is your newpage</p>
</body>

</html>

