<!DOCTYPE html>
<html>
<head>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/aboutus">About Us</a>
  <a href="/users">Users</a>
</div>
<title>{{title}}</title>
</head>
<body>
    
</body>
<h1>hello js</h1>
</html>